* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    width: 100%;
    max-width: 200px;
    margin: 0 auto;
}

h1,
h2 {
    font-family: 'Montserrat', sans-serif;
}

body {
    font-family: 'JetBrains Mono', monospace;
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding: 14px;
    min-height: 100vh;
}

h1 {
    /* text-emphasis: '🔥'; */
    text-align: center;
}

form,
section {
    display: flex;
    flex-direction: column;
    gap: 14px;
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
}

form textarea {
    resize: none;
    width: 100%;
    min-height: 60px;
    padding: 14px;

}

form button {
    padding: 4px;
    cursor: pointer;
    min-height: 30px;
}

.todoContainer{
    display: flex;
    flex-direction: column;
    /* gap: 14px; */
}

.todo {
    padding: 8px 14px; 
    border: 1px solid lightgray;
    border-radius: 4px;

    display: flex; /* Keep this as flex to align text and buttons */
    justify-content: space-between; /* Space between text and buttons */
    align-items: center; /* Center align items vertically */
    margin-bottom: 10px; /* Optional spacing between items */    
}


.btnContainer {
    display: flex;
    gap: 6px;
    /* margin-left: auto; */
    margin-left: 20px; /* Increase left margin to add space */
}

.iconBtn {
    background: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    /* padding: 0 8px; */
    padding: 12px; /* Increase padding for larger buttons */
    font-size: 18px; /* Increase font size for better visibility */
    display: grid;
    place-items: center;
    aspect-ratio: 1/1;
    border-radius: 50%;
}

.iconBtn:hover {
    background: rgb(242, 240, 240);
}
